*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

/* Header font:
    font-family: 'Playfair Display', serif;
*/

/* header */
header{
    display: flex;
    flex-direction: row;
    height: 300px;
}

head{
    display: flex;
    /* margin-top: 50px; */
}
.head1{
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 25%;

}
.fab{
    margin-top: 15%;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    border: solid 1px #AEB6BF;
}
.fa-facebook-f{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 20px;
}
.fa-pinterest-p{
    padding-left: 12px;
    padding-right: 12px;
}
.fab:hover{
    color: #8A0808;
    cursor: pointer;
}
.head2{
    width: 50%;

}
.brand{
    font-size: 200px;
    font-family: 'Playfair Display', serif;
    z-index: 0;
    /* letter-spacing: -13px; */

}
.head3{
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    width: 25%;
    flex-direction: column;
}
.ad{
    margin-top: 17%; 
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    float: right;
    margin-right: 30px;
    /* border: 5px purple solid; */
    /* margin-left: 30px; */
    
}
/* Popup thingy */
.popup{
    height: 150px;
    width: 300px;
    background-image: url('./images/popup.jpg');
    background-size: cover;
    background-position: center;
    position: fixed; 
    display: none;
    bottom: 299px;
    right: 5px;
    z-index: 2;
}
.ad:hover + .popup{
    display: block;
}
.ad:hover{
    cursor: pointer;
}
.header-img{
    height: 120px;
    width: 90px;
    z-index: 0;
}
.blurb{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    margin-left: -5px;
    background-color: #8A0808;
    color: white;
    z-index: 1;
    /* margin-top: 0; */
}
.subscribe{
    font-size: 20px;
    /* font-weight: bold; */
}
.small{
    font-weight: light;

}
/* Navigation */
.nav{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-evenly;
    background-color: white;
}
.nav-link{
    list-style: none;
    font-weight: bold;
    color: #212F3C;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    width: 12.5%;
    margin: auto;
}
.nav-link:hover{
    color: #8A0808;
    cursor: pointer;
}
.nav-container{
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 205px;
    z-index: 1;
    background-color: white;

    /* justify-content: center; */
}
.nav1{
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: auto;
}
.navme1, .navme2{
    color: #8A0808;
}
.iconnav{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .iconnav1{
    border-right: #AEB6BF solid 1px;
} */
.iconnav2{
    border-left: #AEB6BF solid 1px;
   
}

.fas{
    font-size: 20px;
}
.brandsmall, .nav-text, .smalltext{
    color: white;
}
.brandsmall{
    font-family: 'Playfair Display', serif;
    font-size: 30px; 
    margin-left: 20px;
}
.nav-text{
    width: 80%;
    margin-left: 20px;
}
/* .smalltext{
    color: #85929E;
} */